<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
	<a href="/employees">Employees</a>
	<a href="/locations">Locations</a>
	<a href="/orders">Orders</a>
	<a href="/pizzas">Pizzas</a>
    </nav>
    {{{body}}}
</body>
</html>
